<div>
    <div class="badge badge-neutral">Django</div>
    <div class="badge badge-neutral">Astro</div>
    <div class="badge badge-neutral">NodeJS</div>
    <div class="badge badge-neutral">ReactJS</div>
    <div class="badge badge-neutral">Laravel</div>
    <div class="badge badge-neutral">Wordpress</div>
    <div class="badge badge-neutral">TailwindCSS</div>
    <div class="badge badge-neutral">Botstrap</div>
    <div class="badge badge-neutral">Docker</div>
    <div class="badge badge-neutral">Figma</div>
    <div class="badge badge-neutral">Linux</div>
</div>