---
import Card from "./Card.astro";
const allProjects = await Astro.glob("../content/projects/*.md");

import { getCollection } from "astro:content";

const projects = (await getCollection("projects")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<div>
  <ul role="list" class="link-card-grid">
    {
      projects.map((project) => (
        <Card
          title={project.data.title}
          time={project.data.pubDate}
          tags={project.data.tags}
          slug={project.slug}
        />
      ))
    }
  </ul>
</div>

<style>
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
