<div>
    <div class="badge badge-outline">Python</div>
    <div class="badge badge-outline">JavaScript</div>
    <div class="badge badge-outline">Php</div>
    <div class="badge badge-outline">Html</div>
    <div class="badge badge-outline">Css</div>
    <div class="badge badge-outline">SQL</div>
    <div class="badge badge-outline">No-SQL</div>
    <div class="badge badge-outline">Git & GitHub</div>
</div>