---
import Layout from "../layouts/Layout.astro"
import Header from "../components/Header.astro"


---
<Layout title="Welcome to Astro.">
	<main>
		<Header title="cristianoso19" />
		<h1 class="font-bold my-8 text-6xl text-center">Portfolio</h1>
	</main>
</Layout>